#reset
{
	margin-top: 130px;
	text-align: center;
}

#reset-heading
{
	margin-right: 121px;
	font-family: 'Lato', sans-serif;
	font-weight: 550;
	font-size: 23px;
	color: black;
	margin-bottom: -5px;
}



#email-label
{
	margin-top: -30px;
	line-height: 48px;
	font-family: sans-serif;
	font-weight: 300;
	margin-right: 300px;
	color: #585C65;
}


input[type="password"] , input[type="email"]
{
	border: 1.5px solid #BEBFC0;
	border-radius: 5px;
	color: #585C65;
	margin-top: -10px;
	height: 44px;
	width: 350px;
	padding: 0.7rem;
}

input:hover { 
    outline:none;
    border-color:#9ecaed;
    box-shadow: 0px 0px 7px #9ecaed;
}

input:focus { 
    outline:none;
    border-color:#9ecaed;
    box-shadow: 0px 0px 7px #9ecaed;
}


#submit-link
{
	margin-top: 24px;
	height: 44px;
	width: 350px;
	background-color: #ED6E3F;
	border: 1.5px solid #BEBFC0;
	border-radius: 5px;
	color: white;
	transition: 0.3s ease-out;
}

#submit-link:hover
{
	background-color: #A43D19;
}


#submit-login
{
	margin-top: 24px;
	height: 44px;
	width: 350px;
	background-color: white;
	border: 1.5px solid #BEBFC0;
	border-radius: 5px;
	color: #585C65;
	transition: 0.3s ease-out;
}

#submit-login:hover
{
	border-color: #ED6E3F;
	color: #ED6E3F;
}











