body
{
/*	background-image: url(bg.png);*/
	background-repeat: no-repeat;
}


#signup
{
/*	margin-left: 100px;*/
/*	margin-top: 70px;*/
	text-align: center;
}

#signup-heading
{
/*	margin-right: 148px;*/
	font-family: 'Lato', sans-serif;
	font-weight: 1000;
	font-size: 23px;
/*	margin-bottom: -10px;*/
	margin-right: 141px;
	color: black;
}

#google
{
	margin-top: -10px;
	border: 1.5px solid #BEBFC0;
	border-radius: 5px;
	height: 44px;
	width: 350px;
	background-color: white;
	transition: 0.1s ease-out;
}

#google:hover
{
	background-color: #F6F7F8;
}

.line
{
	margin-top: 27px;
	display: inline-block;
	width: 131px;
	margin-bottom: -10px;
}
#or
{
	display: inline-block;
	margin-top: 14px;
	margin-left: 30px;
	margin-right: 30px;
	vertical-align: top;
	color: #585C65;
}

#username-label
{
/*	margin-top: 40px;*/
	line-height: 48px;
	font-family: sans-serif;
	font-weight: 300;
	margin-right: 303px;
	color: #585C65;
}

#email-label
{
	line-height: 48px;
	font-family: sans-serif;
	font-weight: 300;
	margin-right: 300px;
	color: #585C65;
}

#phone-label
{
	line-height: 48px;
	font-family: sans-serif;
	font-weight: 300;
	margin-right: 300px;
	color: #585C65;
}

#password-label
{
	line-height: 48px;
	font-family: sans-serif;
	font-weight: 300;
	margin-right: 270px;
	color: #585C65;
}


input[type="password"] , input[type="email"] , input[type="text"] , input[type="number"]
{
	border: 1.5px solid #BEBFC0;
	border-radius: 5px;
	color: #585C65;
	margin-top: -10px;
	height: 44px;
	width: 350px;
	padding: 0.7rem;
}

input:hover { 
    outline:none;
    border-color:#9ecaed;
    box-shadow: 0px 0px 7px #9ecaed;
}

input:focus { 
    outline:none;
    border-color:#9ecaed;
    box-shadow: 0px 0px 7px #9ecaed;
}



#submit
{
	margin-top: 28px;
	height: 44px;
	width: 350px;
	background-color: #ED6E3F;
	border: 1.5px solid #BEBFC0;
	border-radius: 5px;
	color: white;
	transition: 0.3s ease-out;
}

#submit:hover
{
	background-color: #A43D19;
}

#login-link
{

	margin-top: 20px;
	margin-right: 113px;
	color: #585C65;
}

#login-link a
{
	text-decoration: none;
	color: #ED6E3F;

}

#login-link a:hover
{
	text-decoration: underline;
	color: #ED6E3F;
}

#terms1
{
	margin-top: 10px;
	position: relative;
	margin-right: 40px;
	color: #585C65;
}


#terms2 a
{
	color: #ED6E3F;
}

#terms2
{
	position: relative;
	margin-right: 88px;
}