<div id="footer">

      <div id="div1">

        <div id="logo">
            <a href="https://venline.co/">  <img src="images/vinlinelight.png" height="50px" width="200px"> </a>
        </div>

        <div id="subscribe">
          <input type="text" name="email" placeholder="Subscribe for offer alerts" id="email-form">
          <button type="submit" id="submit">Subscribe</button>
        </div>

        <div id="socia-media">
          <div id="insta">
            <a href="https://www.instagram.com/"> <i class="fa-brands fa-instagram"></i></a>
          </div>

          <div id="twitter">
            <a href="https://twitter.com/"> <i class="fa-brands fa-twitter"></i></a>
          </div>

          <div id="facebook">
            <a href="https://www.facebook.com/"> <i class="fa-brands fa-facebook-f"></i></a>
          </div>

          <div id="linkedin">
            <a href="https://www.linkedin.com/"> <i class="fa-brands fa-linkedin"></i> </a>
          </div>
        </div>

      </div>


      <div id="div2">

        <div class="topic">
          <a href="...">  Careers </a>
        </div>

        <div class="topic">
          <a href="...">  How it works </a>
        </div>

        <div class="topic">
          <a href="...">  Our mission </a>
        </div>

        <div class="topic">
          <a href="...">  Your impact </a>
        </div>

      </div>


      <div id="div3">
        <div class="topic">
          <a href="...">  FAQs </a>
        </div>

        <div class="topic">
          <a href="...">  Get app </a>
        </div>

        <div class="topic">
          <a href="...">  Contact us </a>
        </div>

        <div class="topic">
          <a href="...">  Privacy policy </a>
        </div>
      </div>

      <div id="div5">
        <div id="heading">Small change. Big change.</div>
        <div id="copyrigth">Copyright © 2023</div>
        <div id="content">Join our community and experience the joy of supporting local vendors while enjoying the convenience of online shopping. Browse our selection of high-quality products, connect with vendors, and discover. Browse our selection of high-quality products.</div>
      </div>

    </div>